* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #1a9eab;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}
body::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    background: url(https://rvs-profile-card-component-main.netlify.app/images/bg-pattern-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
body::after {
    content: "";
    position: absolute;
    bottom: -65%;
    right: -52%;
    background: url(https://rvs-profile-card-component-main.netlify.app/images/bg-pattern-bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 120%;
}
.container {
    width: 310px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
}
.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card .card-header {
    background: url(https://rvs-profile-card-component-main.netlify.app/images/bg-pattern-card.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
}
.card .card-body {
    height: 40%;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #80808042;
}
.card .card-body::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    background: white;
    transform: translate(-50%, 0);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.card .card-body::after {
    content: "";
    position: absolute;
    top: -35px;
    left: 50%;
    background: url(https://rvs-profile-card-component-main.netlify.app/images/image-victor.jpg) white;
    transform: translate(-50%, 0);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.card .card-body .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .card-footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card .card-footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .card-footer .inner div:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card .card-footer .inner div:last-child {
    font-size: 10px;
    letter-spacing: 2px;
}

.color__gray {
    color: gray;
}

@media only screen and (max-width: 568px) {
    body::before {
        top: -25%;
        left: -60%;
        width: 120%;
    }
    body::after {
        bottom: -85%;
        right: -60%;
        width: 120%;
    }
}

/* CSS */
.button-7 {
background-color: #0095ff;
border: 1px solid transparent;
border-radius: 3px;
box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 1.15385;
margin: 0;
outline: none;
padding: 8px .8em;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
background-color: #07c;
}

.button-7:focus {
box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
background-color: #0064bd;
box-shadow: none;
}